/* COLORS: 
#D35763 - vermelho rosado
#BAD1CD - azul acinzentado
#B5D2AA - verde
#818181 - cinzento
*/


body {
    background-color: #D35763;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

/* header */

body > header {
    margin: 10%;
}

body > header img {
    margin-left: 30%;
}

body > header h1{
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 4em;
    color: white(255, 255, 255);
    text-align: center;
}

body > header h3 {
    margin: 0;
    width: 100%;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
    color: #ece7c5;
}

/* signup */

section#signup form input[type="submit"] {
    width: auto;
}

section#signup form input {
    color: #4e4e4e;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    width: 15em;
    height: 3em;
}

section#signup input[type="text"] {
    background-color: #F5EBED;
    border-radius: 3px 3px;
    border: 2px solid white;  
}

section#signup input[type="password"] {
    background-color: rgb(255, 189, 202);
    margin-bottom: 1em;
    border-radius: 3px 3px;
    border: 2px solid white;
}

section#signup input[type="submit"] {
    background-color: #BAD1CD;
    border: none;
    margin-top: 1%;
    height: 2em;
}
section#signup input[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: #5f3939;   
}

/* login */
nav#login {
    position: absolute;
    bottom: 4em;
}

nav#login a {
    text-decoration: none;
    color: #818181;
    background-color: #BAD1CD;
    padding: 0.5em;
}
nav#login a:hover {
    cursor: pointer;
    color: white;
    background-color: #5f3939;   
}

/* errors in login/signup */
body > p {
    font-size: 1.3em;
    color: rgb(164, 0, 0);
    text-align: right;
    font-weight: bold;
}

/* footer */
body > footer{
    text-align: center;
    height: 2em;
}