/* general layout (grid) */ 

body {
    margin: 6em;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header signup"
                         ".      error"
                         "login login"
                         "footer footer";
}

body > header {
    grid-area: header;
    justify-self: center;
    align-self: center;
    width: 100%;
}


section#signup {
    grid-area: signup;
    justify-self: center;
    align-self: center;
    
}

nav#login {
    grid-area: login;
    justify-self: center;
    position: absolute;
    bottom: 3em;
    align-self: flex-end;
}

body > footer {
    grid-area: footer;
    justify-self: center; 

    position: absolute;
    bottom: 2em;
    align-self: flex-end; 
}
body > p#errors {
    grid-area: error;
    justify-self: center;
}

/* form grid */

section#signup form {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

section#signup input[type="text"], section#signup input[type="password"], section#signup input[type="email"]{
    justify-self: center;
    grid-column: 1/span 2;
}

section#signup input[type="submit"] {
    grid-column: 1/span 2;
    justify-self: center;
}