/* COLORS: 
#F5EBED - light 
#BAD1CD - azul acinzentado
#B5D2AA - verde
#818181 - cinzento
*/
:root {
    --maincolor_bckgrnd: #F5EBED;
    --color_separator: #996666;
    --color_text: #000000;
    --color_manao: #D35763;
    --color_manao2: #DF7175;
    --color_smallhover: #2a2f33;
}

body{
    margin: 0;
    background-color: var(--maincolor_bckgrnd);
    color: var(--color_text);
}

body > header {
    margin: 0;
    background-color: var(--maincolor_bckgrnd);
}

body > header > h3{
    margin-top: 2em;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.9em;
    text-align: left;
    height: auto;

    color: var(--color_text);
}


.homeButton{
    background:url(../images/icon.png) no-repeat;
    cursor:pointer;
    border:none;

    width:100px;
    height:100px;
    margin-top:1em;
}   


/* navigation */
#menu {
    
    width: 100%;
}
#menu ol {
    margin:0;
    padding: 0;
} 
#menu li {
    align-items: center;
    list-style-type: none;
    margin:1em 0;
    width: 100%;
    height: 100%;
}
  
  #menu li a{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.9em;
    color: var(--color_text);

    text-decoration: none;
    text-align: center;
    height: auto;

    
    -webkit-transition: color 0.6s;
    transition: color 0.6s ease;
  }

  #menu li:hover {
    -webkit-transition: background-color 0.6s;
    transition: background-color 0.6s ease;
    background-color: var(--color_separator); 
  }
  
  #menu li:hover a{
    color: white;
  }

  nav > ol > li{
    border-left: 2px solid var(--color_manao);
    height: 100%;
}

#profile {
    margin-top: 8px;
    width: 75px;
    height: 75px;
    border:5px solid white;
    border-radius: 100px 100px;
}

.home > #sidebar_left > #profilepicture {
    margin-top: 8px;
    width: 125px;
    height: 125px;
    border:5px solid white;
    border-radius: 100px 100px;
}

.home > #sidebar_left > h2, .home > #sidebar_left > h3{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2em;
    color: var(--color_text);

    text-align: center;
    height: auto;
}
.home > #sidebar_left > h4 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5em;
    color: var(--color_text);
    
    text-align: center;
    height: auto;
}
