body {
    margin: 0em;
}

body > header {
    margin: 0em;
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    grid-template-areas: "manao name navigator profilepic";

        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;

    width: 100%;
}

.homeButton{
    grid-area: manao;
    justify-self: right;
    align-self: center;
    height: auto;
}
body > header > h3 {
    grid-area: name;
    margin: 0em;
    justify-self: left;
    align-self: center;
}
#menu{
    grid-area: navigator;
    justify-self: right;
    align-self: center;

}
#menu > .dropdown {
    grid-area: profilepic;
    justify-self: right;
    align-self: center;
}
#menu ol li{
    display: inline-flex;
    width: 100%;
    justify-self: center;
}

#menu ol {
    margin: 0em;
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "home safehaven threads contacts about";
    
    width: 100%;
}
#menu ol > li{
    justify-self: left;
    align-self: center;
    justify-items: center;
    justify-content: space-evenly;
}
#menu ol > :nth-child(1) {
    grid-area: home;
}
#menu ol > :nth-child(2) {
    grid-area: safehaven;
}
#menu ol > :nth-child(3) {
    grid-area: threads;
}
#menu ol > :nth-child(4) {
    grid-area: contacts;
}
#menu ol > :nth-child(5) {
    grid-area: about;
}

/* HOME */ 
.home {
    margin: 6em;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "image companyname posts"
                         "profilepicture username posts";

    width: 100%;
}
.home > #logo{
    grid-area: image;
    align-self: right;
    justify-self: center;
}
.home > h2{
    grid-area: companyname;
    align-self: right;
    justify-self: center;
}
.home > h4{
    grid-area: username;
    align-self: center;
    justify-self: center;
}
.home > #friendsPosts, .home > h3{
    grid-area: posts;
    align-self: right;
    justify-self: center;
}
.home > img#profilepicture{
    grid-area: profilepicture;
    align-self: center;
    justify-self: right;
}
/* ABOUT */
section #about{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: "img name"
                         "description description"
                         "sincerely sincerely"
                         "team team"
}
section #about {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

section #about {
    grid-area: signup;
    justify-self: center;
    align-self: center;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    color: rgb(165, 36, 19);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    color: var(--color_text);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
