:root {
    --maincolor_bckgrnd: #F5EBED;
    --color_separator: #5f3939;
    --color_text: #000000;
    --color_manao: #D35763;
    --color_manao2: #DF7175;
    --color_smallhover: #2a2f33;
    
}

/*POST ADD*/
.add_post {
    background-color: var(--color_manao2);

    box-shadow: none;
    text-align: left;

    width: auto;
    display: block;

    margin: 3em 3em;
    padding: 2%;
    border-radius: 3px 3px;
}


.add_post input[type="text"] {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    text-align: justify;

    width: 50%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px 3px;
    border: 2px solid white;
}

.add_post textarea {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Roboto', sans-serif;

    padding: 10px;
    margin-left: 10px;
    margin-top: 3em;
    width: 96%;

    border-radius: 3px 3px;
    border: 2px solid white;
    resize: none;
}

.add_post input[type="submit"] {
    background-color: rgb(255, 133, 124);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

    display: flex;
    padding: 14px 50px;
    margin-top: 2em;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}
.add_post input[value="BACK"] {
    background-color: rgb(255, 133, 124);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

    display: inline-block;
    padding: 14px 20px;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}


.add_post input[type="submitincate"] {
    background-color: var(--maincolor_bckgrnd);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: justify;

    padding: 10px;
    margin: 10px;
    margin-top: 1em;
    width: 10%;

    border-radius: 3px 3px;
    border: 2px solid white;
}

.add_post input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--color_separator);
    
}
.add_post input[type="retreat"]:hover {
    cursor: pointer;
    background-color: var(--color_separator);   
}

.add_post label[id="values"]{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ece7c5;
}

/* HOMEPAGE - 5 MOST RECENT POSTS VIEWING */
.home > #friendsPosts {width: auto; margin: 2em 2em;}
.home > #friendsPosts > article#posts {
    margin-top:30px;
    text-align: left;

    margin: 0;
    
    font-family:'Roboto', sans-serif;
    color: #2a2f33;;

    text-decoration: none;
    outline: none;
    background-color: rgb(247, 216, 216);
}

.home > #friendsPosts > article#posts > header{
    background-color: rgb(255, 167, 159);
    color: white;
    font-size: 17px;

    margin-left: 2em;
    margin-bottom: 10px;

}
.home > #friendsPosts > article#posts > header > .author, .home > #friendsPosts > article#posts > header > .date {
    margin-left: 5px;
}

.home > #friendsPosts > article#posts  p#text_wrote{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: 550px;  
    
    margin: 10px 20px;
}

.home > #friendsPosts > article#posts > a#title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    width: 100px;  

    text-decoration: none;
    color: var(--color_separator);
    
    font-family:'Julius Sans One', sans-serif;
    font-size: 23px;

    
    -webkit-transition: color 2s;
    transition: color 1.5s;
    margin: auto 35px;
    height: auto;
    width: auto;
}
.home > #friendsPosts > article#posts > a#title:hover{
    text-decoration: none;
    color: white;
}

.home > #friendsPosts{
    border-radius: 3px 3px;
    border: 3px solid var(--color_manao2);
    background-color: var(--color_manao2);
}
.home > #friendsPosts > h3 {
    font-family:'Julius Sans One', sans-serif;
    font-size: 20px;
    color:  white;
    
    text-align: center;
    height: auto;
}

.home > #friendsPosts > article#posts > footer#votes > div#upvotes > p, .home > #friendsPosts > article#posts > footer#votes > div#downvotes > p{
    text-align: center;
    margin: 0
}
.home > #friendsPosts > article#posts > footer#votes > div#upvotes > img, .home > #friendsPosts > article#posts > footer#votes > div#downvotes > img{
    margin-bottom: 25px;
}

/*FULL POST VIEW */
.viewPost {
    background-color: rgb(247, 210, 210);
    padding: 8px;
    box-shadow: none;
    text-align: left;

    width: auto;

    margin: 1em 3em;
    border-radius: 3px 3px;
}
.viewPost > div#post  header
{
    margin: 10px 10px;
    text-align: right;
    font-size: 1.5em;
    font-family: 'Julius Sans One', sans-serif;
}
.viewPost > div#post  div#Title {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: auto 7em;
    
    width: auto;
    border-radius: 3px 3px;
    border: 2px solid white;
}
.viewPost > div#post  div#Title h1 {
    max-width: auto;
}
.viewPost > div#post  div#Text pre#text {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 1em 2em;
    padding: 10px;

    width: auto;
    height: 15em;

    overflow-x: scroll;
    border-radius: 3px 3px;
    border: 2px solid white;
    resize: none;
}
.viewPost > div#post > footer#votes{
    grid-area: votes;
    
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
    justify-items: flex-start;

    margin-top: 25px;
    width: auto;
    height: auto;
} 
.viewPost > div#post > footer#votes > div#upvotes > p, .viewPost > div#post > footer#votes > div#downvotes > p{
    text-align: center;
    margin: 0;
}
.viewPost > div#post > footer#votes > div#upvotes, .viewPost > div#post > footer#votes > div#downvotes{ background-color: var(--maincolor_bckgrnd);
    box-shadow: 0px 0px 2px 1px var(--color_separator);
    transition: background-color 0.5s;
    padding: 1px;
}
.viewPost > div#post > footer#votes > div#upvotes:hover, .viewPost > div#post > footer#votes > div#downvotes:hover{ background-color: var(--color_manao2); color: white; }

/*COMMENT SECTION FOR FULL POST VIEW*/
.viewPost > div#comments {
    margin-top: 1em;
}
.viewPost > div#comment_section {
    margin-top: 1em;
}
.viewPost > div#comments > article#posted{
    background-color: var(--maincolor_bckgrnd);

    border-radius: 3px 3px;
    padding: 5px 5px;
    text-align: left;
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
}
.viewPost > div#comments > article#posted > div#commentText, .viewPost > div#comment_section > label#user_to_post, .viewPost > div#comment_section > label#comment_to_post{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    padding: 2px;
    font-style: italic;

}
.viewPost > div#comment_section > label#comment_to_post { display: inline-flex; position: static; }
.viewPost > div#comment_section > label#comment_to_post > textarea { margin-left: 1em; background-color: rgb(247, 226, 230); }
.viewPost > div#comment_section > label#user_to_post, .viewPost > div#comment_section > label#user_to_post{ font-style: italic; }
.viewPost > div#comment_section > label#user_to_post, .viewPost > div#comment_section > label#comment_to_post > textarea {
    font-style: italic;
    resize: none;

    font-family: 'Roboto', sans-serif;
}

.viewPost > div#comment_section > input[type="submit"], .viewPost > div#comment_section > form > input[value="BACK"]  {
    background-color: rgb(255, 133, 124);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

    display: flex;
    padding: 14px 50px;
    margin-top: 2em;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}