:root {
    --maincolor_bckgrnd: #F5EBED;
    --color_separator: #5f3939;
    --color_text: #000000;
    --color_manao: #D35763;
    --color_manao2: #DF7175;
    --color_smallhover: #2a2f33;
    
}

/*POST ADD*/
.add_post {
    background-color: var(--color_manao2);

    box-shadow: none;
    text-align: left;

    width: 70%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 2%;
    border-radius: 3px 3px;
}


.add_post input[type="text"] {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    text-align: justify;

    width: 50%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px 3px;
    border: 2px solid white;
}

.add_post textarea {
    background-color: var(--maincolor_bckgrnd);
    color: black;
    font-family: 'Roboto', sans-serif;

    padding: 10px;
    margin-left: 10px;
    margin-top: 3em;
    width: 96%;

    border-radius: 3px 3px;
    border: 2px solid white;
    resize: none;
}

.add_post input[type="submit"] {
    background-color: rgb(255, 133, 124);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

    display: flex;
    padding: 14px 50px;
    margin-top: 2em;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}
.add_post input[value="BACK"] {
    background-color: rgb(255, 133, 124);
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

    display: inline-block;
    padding: 14px 20px;
    margin-top: 4em;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}


.add_post input[type="submitincate"] {
    background-color: var(--maincolor_bckgrnd);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: justify;

    padding: 10px;
    margin: 10px;
    margin-top: 1em;
    width: 10%;

    border-radius: 3px 3px;
    border: 2px solid white;
}

.add_post input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--color_separator);
    
}
.add_post input[type="retreat"]:hover {
    cursor: pointer;
    background-color: var(--color_separator);   
}

.add_post label[id="values"]{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #ece7c5;
}

/* HOMEPAGE - 5 MOST RECENT POSTS VIEWING */
.home > #friendsPosts > article#posts {
    margin-top:30px;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
    
    font-family:'Roboto', sans-serif;
    color: #2a2f33;;

    text-decoration: none;
    outline: none;
    background-color: rgb(247, 210, 210);
}

.home > #friendsPosts > article#posts > header{
    background-color: rgb(255, 167, 159);
    color: white;
    font-size: 17px;

    margin-left: 2em;
    margin-bottom: 10px;
    padding:0;

}
.home > #friendsPosts > article#posts > header > .author, .home > #friendsPosts > article#posts > header > .date {
    margin-left: 5px;
}

.home > #friendsPosts > article#posts > p#text_wrote{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 550px;  
    
    margin: 10px 20px;
}

.home > #friendsPosts > article#posts > a#title{
    text-decoration: none;
    color: var(--color_separator);
    
    font-family:'Julius Sans One', sans-serif;
    font-size: 23px;

    
    -webkit-transition: color 2s;
    transition: color 1.5s;
    margin: auto 35px;
    height: auto;
}
.home > #friendsPosts > article#posts > a#title:hover{
    text-decoration: none;
    color: white;
}

.home > #friendsPosts{
    border-radius: 3px 3px;
    border: 3px solid var(--color_manao2);
    background-color: var(--color_manao2);
}
.home > #friendsPosts > h3 {
    font-family:'Julius Sans One', sans-serif;
    font-size: 20px;
    color:  white;
    
    text-align: center;
    height: auto;
}

.home > #friendsPosts > article#posts > footer#votes > div#upvotes > p, .home > #friendsPosts > article#posts > footer#votes > div#downvotes > p{
    text-align: center;
    margin: 0
}
.home > #friendsPosts > article#posts > footer#votes > div#upvotes > img, .home > #friendsPosts > article#posts > footer#votes > div#downvotes > img{
    margin-bottom: 25px;
}