body {
    margin: 0em;
}

body > header {
    display: flex;
    
    flex: auto;
    align-content: space-around;
    width: auto;
}


#menu ul {
    margin:0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-end;

    background-color: white;
}

#menu ul li{
    flex: auto;
}

/* ABOUT */
section #about{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: "img name"
                         "description description"
                         "sincerely sincerely"
                         "team team"
}
section #about {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

section #about {
    grid-area: signup;
    justify-self: center;
    align-self: center;
}
