/* COLORS: 
#F5EBED - light 
#BAD1CD - azul acinzentado
#B5D2AA - verde
#818181 - cinzento
*/
:root {
    --maincolor_bckgrnd: #F5EBED;
    --color_separator: #996666;
    --color_text: #000000;
    --color_manao: #D35763;
    --color_smallhover: #2a2f33;
}

body{
    margin: 0;
    background-color: var(--maincolor_bckgrnd);
    color: var(--color_text);
}

body > header {
    margin: 0
}

body > header h3{
    margin-top: 4em;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.9em;
    text-align: left;

    color: var(--color_text);
}


.homeButton{

    background:url(../images/icon.png) no-repeat;
    cursor:pointer;
    border:none;

    width:100px;
    height:100px;
    margin-top:1em;
}
.homeButton:active {
     background:url(../images/icon_big.png) no-repeat;
}


/* navigation */
#menu ul {
    margin: 0;
    padding: 0;
  }
  
#menu li {
    text-align: center;
    list-style-type: none;
  }
  
  #menu li a{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.9em;
    color: var(--color_text);

    text-decoration: none;
    text-align: center;
  }
  
  #menu li:hover {
    background-color: var(--color_separator);
  }
  
  #menu li:hover a{
    color: white;
  }

  nav > ul > li{
    border-left: 2px solid var(--color_manao);
    padding: 2em;
    margin-left: 0;
}