<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>MANA'O Thread Posting</title>
    <link href="../css/threadpost_layout.css" rel="stylesheet">
    <link href="../css/threadpost_style.css" rel="stylesheet">
    <link href="../css/posts.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>

<body>
    <header>
        <input class="homeButton" type="submit" value="">
        <h3>M A N A ' O</h3>
        <nav id="menu">
            <ul>
                <li><a href="#homepage">Home</a></li>
                <li><a href="#safahavenpage">Safe Haven</a></li>
                <li><a href="#threads">Threads</a></li>
                <li><a href="#aboutpage">About</a></li>
                <li><a href="#contactspage">Contacts</a></li>
            </ul>
        </nav>
    </header>

<!--TODO:
     -Meter header como header.php e generalizar para as restantes páginas c <?php include_once('path para header.php/html'); ?>
     -Como inserir categorias???-->
    <section class = "about">
        <form action="new_post.php" method="post">
            <div><input type="text" placeholder="T I T L E   O F   P O S T" name="Title" required></div>
            <div><input type="submitincate" placeholder="Categories" name="Insert Categories" required></div>
            <div><textarea rows="9" cols="30" placeholder="Insert Text or Image(Optional)" name="Post"></textarea></div>
            <div><input type="submit" value="POST"></div>
        </form>
    </section>
</body>

</html>