<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MANA'O</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <img src="../images/icon_big.png" alt="Site's icon">
            <h1>MANA'O</h1>
            <h3>How can you be a hero today?</h3>
        </header>
        
        <section id="signup">
    
            <form action="signup.php" method="post">
                <input type="text" name="username">Username
                <input type="password" name="password">Password
                <input type="submit" value="Sign up">
            </form>

        </section>

        <nav id="login">
            Already have an account?
            <a href="login.html">Login</a>
        </nav>

    </body>
</html>